h2 {
  text-align: center;
  font-family: 'AtlasGrotesk', sans-serif;
  color: orangered;
}

label {
  padding-left: 10px;
}

input,
select {
  font-size: 100%;
  width: 100%;
  padding: 10px 5px;
  margin-top: 5px;
  border-radius: 5px;
  border-color: grey;
}

button {
  font-size: 100%;
  padding: 10px 20px;
  margin-left: 80%;
  border-radius: 25px;
  background-color: orangered;
  color: white;
  border-color: orangered;
}

.company-email,
.user-name,
.hiring-location,
.number-engineers,
.submit {
  font-family: 'Brandon Grotesque', sans-serif;
  font-weight: 500;
  padding-top: 15px;
  padding-left: 35%;
  padding-right: 35%;
}

.number-engineers select {
  background-color: gainsboro;
}
