button {
  padding: 5px 10px;
}

button:hover {
  color: white;
  background-color: black;
}

thead {
  background-color: black;
  color: white;
}

tbody {
  background-color: lightgrey;
}

tr:nth-child(2n) {
  background-color: white;
}
